@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FDF8F5;
    color: #343434;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #FFF9F5;
}
::-webkit-scrollbar-thumb {
  background: #E9D8CC;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FAD2C0;
}
